bleach==3.1.0
certifi==2019.3.9
chardet==3.0.4
Django==2.2.1
djangorestframework==3.9.3
docutils==0.14
idna==2.8
pkginfo==1.5.0.1
Pygments==2.4.2
pytz==2019.1
readme-renderer==24.0
requests==2.22.0
requests-toolbelt==0.9.1
six==1.12.0
sqlparse==0.3.0
tqdm==4.32.1
twine==1.13.0
urllib3==1.25.3
webencodings==0.5.1
